<section class="hero-container">
  <picture>
    <!-- Imagen para escritorio (horizontal) -->
    <source media="(min-width: 768px)" srcset="https://res.cloudinary.com/dgrdonnsk/image/upload/v1780617383/pc_xwsvgm.png">
    
    <!-- Imagen para celulares (aquí debes poner la URL de tu versión vertical) -->
    <img src="https://res.cloudinary.com/dgrdonnsk/image/upload/v1780616523/hero-movile-edu-campus_z2gunm.png" 
         alt="EduCampus Bienvenida" 
         class="hero-fluid-image">
  </picture>
</section>