<!-- TOP BAR -->
<div class="top-bar" id="top-bar">
  matricularse es fácil, solo sigue los pasos y listo!
</div>

<!-- NAVBAR -->
<nav class="navbar-web" id="navbar">
  <div class="navbar-brand">
    <div>
      <div>
        <span class="brand-admin">EDU</span><span class="brand-rc">Campus</span>
      </div>
      <small class="brand-events">Educación</small>
    </div>
  </div>

  <div class="navbar-menu" id="navMenu" [class.active]="isMenuOpen">
    <a class="nav-link" [class.active-link]="activeLink === 'inicio'" (click)="setActive('inicio')" routerLink="/inicio/inicio">Inicio</a>
    <a class="nav-link" [class.active-link]="activeLink === 'nosotros'" (click)="setActive('nosotros')" routerLink="/inicio/nosotros">Nosotros</a>
    <a class="nav-link" [class.active-link]="activeLink === 'niveles'" (click)="setActive('niveles')" routerLink="/inicio/niveles">Niveles</a>
    <a class="nav-link" [class.active-link]="activeLink === 'contacto'" (click)="setActive('contacto')" routerLink="/inicio/contacto">Contacto</a>
  </div>

  <div class="navbar-actions">
    <a routerLink="/login" class="btn btn-outline">Ingresar</a>
   
    
    <button class="navbar-toggle" (click)="toggleMenu()">
      <i class="bi" [class.bi-list]="!isMenuOpen" [class.bi-x-lg]="isMenuOpen"></i>
    </button>
  </div>
</nav>
