<!-- TOP BAR -->
<div class="top-bar" id="top-bar">
  matricularse es fácil, solo sigue los pasos y listo!
</div>

<!-- NAVBAR -->
<nav class="navbar-web" id="navbar">
  <div class="navbar-brand">
    <img src="https://res.cloudinary.com/dgrdonnsk/image/upload/v1778545840/ChatGPT_Image_11_may_2026_19_30_36_rqnapm.png" alt="EDUCampus" class="navbar-logo">
  </div>

  <div class="navbar-menu" id="navMenu" [class.active]="isMenuOpen">
    <a class="nav-link" [class.active-link]="activeLink === 'inicio'" (click)="setActive('inicio')" routerLink="/inicio/inicio">Inicio</a>
    <a class="nav-link" [class.active-link]="activeLink === 'nosotros'" (click)="setActive('nosotros')" routerLink="/inicio/nosotros">Nosotros</a>
    <a class="nav-link" [class.active-link]="activeLink === 'niveles'" (click)="setActive('niveles')" routerLink="/inicio/niveles">Niveles</a>
    <a class="nav-link" [class.active-link]="activeLink === 'contacto'" (click)="setActive('contacto')" routerLink="/inicio/contacto">Contacto</a>
    <a class="nav-link" [class.active-link]="activeLink === 'matricula-online'" (click)="setActive('matricula-online')" routerLink="/inicio/matricula-online">Matrícula Online</a>
  </div>

  <div class="navbar-actions">
    <a routerLink="/login" class="btn btn-outline">Ingresar</a>
   
    
    <button class="navbar-toggle" (click)="toggleMenu()">
      <i class="bi" [class.bi-list]="!isMenuOpen" [class.bi-x-lg]="isMenuOpen"></i>
    </button>
  </div>
</nav>
