<!-- TOP BAR -->
<div class="top-bar" id="top-bar">
  matricularse es fácil, solo sigue los pasos y listo!
</div>

<!-- NAVBAR -->
<nav class="navbar-web" id="navbar">
  <div class="navbar-brand">
    <div>
      <div>
        <span class="brand-admin">EDU</span><span class="brand-rc">Campus</span>
      </div>
      <small class="brand-events">Educación</small>
    </div>
  </div>

  <div class="navbar-menu" id="navMenu" [class.active]="isMenuOpen">
    <a class="nav-link" [class.active-link]="activeLink === 'datos'" (click)="setActive('datos')" routerLink="/matricula/datos">Inicio</a>
    <a class="nav-link" [class.active-link]="activeLink === 'matricula'" (click)="setActive('matricula')" routerLink="/matricula/matricula-alumno">Nosotros</a>
    <a class="nav-link" [class.active-link]="activeLink === 'horario'" (click)="setActive('horario')" routerLink="/matricula/horario">Contacto</a>
    <a class="nav-link" [class.active-link]="activeLink === 'finalizar-matricula'" (click)="setActive('finalizar-matricula')" routerLink="/matricula/finalizar-matricula"> Matriculate</a>
  </div>

  <div class="navbar-actions">
    <a routerLink="/login" class="btn btn-outline">Ingresar</a>
    
    <button class="navbar-toggle" (click)="toggleMenu()">
      <i class="bi" [class.bi-list]="!isMenuOpen" [class.bi-x-lg]="isMenuOpen"></i>
    </button>
  </div>
</nav>
